<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCHFScQz7CUoA4w4naGCtUux-thxRTvpak</string>
	<key>GCM_SENDER_ID</key>
	<string>50312088424</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>swapnil..SwiftUIDesign</string>
	<key>PROJECT_ID</key>
	<string>chatapp-2c1ca</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-2c1ca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:50312088424:ios:f1596a263ef15bedf9e4dd</string>
</dict>
</plist>